.container-header{
    background-color: crimson;
    height: 70px;
    /*width: 1024px;*/
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.container-header a{
    text-decoration: none;
    color: #ffffff;
    font-size: 0.8pc;
    font-family: Arial, Helvetica, sans-serif;
}
.container-header li{
    list-style: none;
}

.inicio-sesion{
   
    width: 500px;
    height: 270px;
    border-radius: 15px;
    border: solid black;
    padding: 15px;
    gap: 20px;
    background-color:white;
    display: flex;
    align-content:   flex-start;
    flex-direction: column;
    text-align: center;
    margin-left:  20%;

}
.inicio-sesion textarea{
    height: 20px;
}
.section-inicio-sesion{
    background-color: brown;
    height: 320px;
    /*width: 1024px;*/
    padding-top: 15px;
    
}
.section1{
    background-color: brown;
   /*width: 1024px;*/
    display: flex;
    justify-content: space-around;
}
.section1 img{
    height: 200px;
     width: 300px;
     border: 1px solid WHITE;
     
}
.section2{
    background-color: brown;
    display: flex;
    
    flex-direction: column;
    align-content: flex-start;
   /*width: 1024px;*/
   
}
.section2 div{
    padding-left: 30px;
    padding-right: 30px;
}

.imagen-producto img{
    padding-top:20px;
    height: 180px;
    width: 180px;
    
}
.productos{
/*width: 1024px;*/
background-color: brown;
    display: grid;
    /*width:  1020px;*/
    font-size: 15px;
    grid-template-columns: repeat(5,1fr);
    padding: 2.5px;
    gap:10px;
}
.section3{
    border-top: black;
    background-color: brown;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
   /*width: 1024px;*/
    align-items: center;
   
}
.producto{
   
    border: 1px solid black;
    background-color: crimson;
    display: flex;
    flex-direction: column;
    font-size: 15px;
   align-items: center;
}
.texto{
    margin-left: 15px;margin-right: 15px;
}
.producto:hover{
    background-color: #F69A46;
    scale: 1.1;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
   
}
.final{
   /*width: 1024px;*/
    background-color: black;
     color:white;
     padding: 40px 0px;
     font-size: 15px;
}
.contenedorFinal{
    
    display: grid;
    grid-template-columns: 2fr repeat(3,1fr) ;
    padding: 40px; 
    align-items: top; 
   
}
.contenedorFinal a{
    text-decoration: none;
    color: whitesmoke;
}
.contenedorFinal a:hover{
    text-decoration:underline;
    color:skyblue;
}
.condientos-img{
    width: 500px;
    height: 400px;
}

.redess{
    padding-top: 30px;
    padding-left: 51px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    
}
.espacio{
    width: 60px;
    height: 60px;
}
.bi-instagram{
    
    width: 40px;
    height: 40px;
    padding:  6px;
    font-size: 28px;
   
    border-radius: 50%;
   background-color:#222326;  
   color: white;
}
.bi-instagram:hover{
    color: rgb(128, 0, 79);
    scale: 1.1;
    cursor: pointer;

}

.bi-twitter{
    padding-top: 20px;
    width: 40px;
    height: 40px;
    padding:  6px;
    font-size: 28px;
   
    border-radius: 50%;
   background-color:#222326;  
   color: white;
}
.bi-twitter:hover{
    color: #1D9BF0;
    scale: 1.1;
    cursor: pointer;

}
.bi-facebook{
    width: 40px;
    height: 40px;
    padding:  6px;
    font-size: 28px;
   
    border-radius: 50%;
   background-color:#222326;  
   color: white;

}
.bi-facebook:hover{
    color: rgb(2, 0, 128);
}
@media screen and (max-width: 1026px) {
    .productos{
        grid-template-columns: repeat(3,1fr);
        
    }
    
    .condientos-img{
        width: 250px;
        height: 170px;
    }
    .contenedorFinal{
        grid-template-columns: 2fr fr;
    }
    .section1 img{

        height: 150px;
          width: 200px;
          border: 1px solid WHITE;}
   
}
@media screen and (max-width: 700px) {
    .productos{
        grid-template-columns: 1fr;
        
    }
   
    .condientos-img{
        width: 150px;
        height: 100px;
    }
    .contenedorFinal{
        grid-template-columns: 1fr;
    }
 
    .section1 img{

   height: 100px;
     width: 150px;
     border: 1px solid WHITE;}
}

   
  
 
       
  